@font-face {
    font-family: 'AkzidenzGroteskPro';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/AkzidenzGroteskPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'AkzidenzGroteskPro';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/AkzidenzGroteskPro-It.otf') format('opentype');
}

@font-face {
    font-family: 'AkzidenzGroteskPro';
    font-style: bold;
    font-weight: 800;
    src: url('./assets/fonts/AkzidenzGroteskPro-Super.otf') format('opentype');
}

html {
    font-family: 'AkzidenzGroteskPro';
    font-size: 16;
    background-color: #fcfbf9;
    min-width: 1024px;
    min-height: 768px;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    position: relative;
    margin-bottom: 2em;
}

.left {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
}

.left .last-name {
    text-transform: uppercase;
}

/* LANDING  */

.landing {
    transition: 10ms ease-in;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'AkzidenzGroteskPro';
    font-weight: bold;
}

.landing>.right {
    position: absolute;
    right: 0;
    height: calc(100vh);
    max-width: 80vw;
    width: 100%;
    background-image: url('./img/index.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

.fade-from {
    opacity: 0;
    transition: linear 1s;
}

.fade-to {
    opacity: 1;
    transition: linear 1s;
}

/* INDEX */

.index>.left {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
}

.index>.left>.last-name {
    text-transform: uppercase;
}