@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: italic;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-It.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 800;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: bold;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  // border: 1px solid gray;
}
body {
  width: 100vw;
  height: 100vh;
  max-width: 2444px;
  max-height: 1206px;
  overflow: hidden;
  color: #010101;
  background-color: #fcfbf9;
}

main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      .title-svg {
        height: 64px;
      }
    }

    .menu {
      color: #010101;
      font-family: "PlayfairDisplay";
      text-transform: uppercase;
      font-family: PlayfairDisplay;
      font-size: 22px;
      line-height: 28px;
      transition: all 0.2s linear;
      padding: 0 0 3vh 0;
      ul {
        list-style: none;
        width: max-content;
      }
      ul,
      li {
        &:hover {
          cursor: pointer;
          color: #000;
          transition: all 0.2s linear;
          width: max-content;
        }
      }
      .nav-works {
        .works-list {
          width: max-content;
          margin: 6px 0;
          width: 183px;
          font-family: AkzidenzGroteskPro;
          font-size: 18px;
          line-height: 22px;
          text-align: left;
          color: #828282;
        }
      }
      & .active {
        background-image: url(../assets/elements/works-line.png);
        background-repeat: no-repeat;
        background-position: center left;
        cursor: default;
        &:hover {
          color: inherit;
        }
      }
    }
  }

  .right {
    .landing {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 125vh;
      max-width: 80vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right;
      opacity: 1;
      transition: opacity 1s ease-out;
      cursor: pointer;
      &.fade {
        opacity: 0;
      }
    }

    .gallery {
      .gallery-element {
        cursor: pointer;
      }
    }
  }
}

/* fades  */

.invisible {
  opacity: 0;
  transition: linear 1s;
}
.visible {
  opacity: 1;
  transition: linear 1s;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  // TABLET PORTRAIT
  main {
    .left {
      width: 14vw;
      min-width: 185px;
    }
    .right {
      .gallery {
        display: grid;
        grid-template-columns: 24vw 24vw;
        gap: 20px;
        .gallery-element {
          cursor: pointer;
          width: 100%;
          .gallery-img {
            width: 100%;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  main {
    .left {
      padding: 88px 16px 0 56px;
      width: 14vw;
      max-height: 850px;
      min-width: 185px;
    }
    .right {
      margin: 88px 0 0 0;
      width: 100%;
      max-height: 960px;
      overflow-y: auto;
      overflow-x: hidden;
      .landing {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 125vh;
        max-width: 80vw;
        background-image: url("../img/index.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        cursor: pointer;
      }
      .gallery-wrapper {
        height: 100%;
        // margin: 0 100px 40px 0;

        .gallery {
          display: grid;
          grid-template-columns: repeat(3, 25vw);
          gap: 2.1vw;
          &._2col {
            grid-template-columns: repeat(2, 26vw);
            gap: 1.5vw;
          }
          &._3col {
            grid-template-columns: repeat(3, 25vw);
            gap: 2.1vw;
          }
          &._4col {
            grid-template-columns: repeat(4, 18vw);
            gap: 1.2vw;
          }
          &._5col {
            grid-template-columns: repeat(5, 14vw);
            gap: 1.35vw;
          }

          .gallery-element {
            cursor: pointer;
            width: 100%;

            margin: 0;
            position: relative;
            &:hover {
              .gallery-title {
                transition: opacity 0.1s linear;
                opacity: 1;
              }
            }
            .gallery-img {
              width: 100%;
            }
            .gallery-title {
              position: absolute;
              bottom: 7px;
              left: 6px;
              color: white;
              font-family: "AkzidenzGroteskPro";
              font-size: 2.9vw;
              text-transform: uppercase;
              transition: opacity 2s ease-in-out;
              opacity: 0;
              line-height: 1.1em;
            }
            &:hover {
              .gallery-title {
                display: block;
              }
            }
          }
        }
        .gallery-text {
          display: grid;
          margin: 1.5vw 0;
          &._2col {
            grid-template-columns: repeat(9, calc(26vw / 3));
            grid-template-areas:
              "title title . text-en text-en text-en text-en text-en  ."
              ". . text-hu text-hu text-hu text-hu text-hu text-hu .";
            gap: 1.5vw 0.5vw;
            .text-en {
              margin-left: -1.2vw;
            }
            .text-hu {
              margin-left: -1.2vw;
            }
          }
          &._3col {
            grid-template-areas:
              "title title . text-en text-en text-en text-en text-en ."
              ". . text-hu text-hu text-hu text-hu text-hu text-hu .";

            grid-template-columns: repeat(9, calc(25vw / 3));
            gap: 2.1vw calc(2.1vw / 3);
            .text-en {
              margin-left: -2.1vw;
            }
          }
          &._4col {
            grid-template-columns: repeat(12, 6vw);
            grid-template-areas:
              "title title title . text-en text-en text-en text-en text-en text-en text-en ."
              ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu .";
            gap: 1.2vw 0.327vw;
            .text-hu {
              margin-left: -1.2vw;
            }
          }
          &._5col {
            grid-template-columns: repeat(15, calc(14vw / 3));
            grid-template-areas:
              "title title . . text-en text-en text-en text-en text-en text-en text-en text-en . . ."
              ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu . . .";
            gap: 1.35vw calc(1.35vw / 3);
            .text-hu {
              margin-left: -1.35vw;
            }
          }
          .gallery-title {
            grid-area: title;
            display: flex;
            flex-direction: column;
            font-size: 42px;
            line-height: 1.2em;
            font-family: AkzidenzGroteskPro;
            color: #010101;
            text-transform: uppercase;
          }
          .text-hu {
            font-family: PlayfairDisplay;
            grid-area: text-hu;
            color: #828282;
            font-size: 24px;
            a {
              text-decoration: none;
              color: #828282;
              &:hover {
                cursor: pointer;
                color: #010101;
              }
            }
          }

          .text-en {
            font-weight: bold;
            font-family: PlayfairDisplay;
            grid-area: text-en;
            color: #010101;
            font-size: 24px;
          }
        }
      }

      .single-gallery-wrapper {
        height: 100%;
        width: 62.5vw;
        display: flex;
        flex-direction: row;
        align-items: end;
        .caroussel {
          width: calc(62.5vw - 156px);
          margin-bottom: 2em;
          max-width: 1062px;
          .single-img {
            height: 100%;
            max-width: 1062px;
            max-height: 850px;
          }
          .iframe-title{
            position: absolute;
            font-size: 28px;
            font-family: AkzidenzGroteskPro;
            line-height: 24px;
          }
          .iframe-wrapper {
            height: 43vw;
            width: 62.5vw;
            max-width: 1200px;
            max-height: 850px;
          }
          iframe {
            height: 100%;
          }
        }
        .gallery-side {
          margin-bottom: 2em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 50%;
          .pager {
            font-family: AkzidenzGroteskPro;
            font-size: 19px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 28px;
            color: #828282;
            text-align: left;
          }
          .gallery-nav {
            fill: #828282;
            .prev {
              margin: 0 5px;
              width: 8px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
              &.disabled {
                fill: #fcfbf9;
                &:hover {
                  cursor: default;
                }
              }
            }
            .next {
              margin: 0 15px 0 9px;
              width: 8px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
              &.disabled {
                fill: #fcfbf9;
                &:hover {
                  cursor: default;
                }
              }
            }
            .gallery-btn {
              margin: 0;
              width: 30px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
            }
          }
        }
      }

      .bio-wrapper {
        width: 69.8vw;
        max-width: 1340px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .bio-en {
          order: 1;
          font-family: PlayfairDisplay;
          font-size: 27px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 37px;
          letter-spacing: -0.3px;
          text-align: left;
          color: #000000;
          margin-bottom: 1em;
        }
        .bio-hu {
          order: 3;
          width: 40vw;
          max-width: 763px;
          margin-bottom: 2em;
          .bio-hu-text {
            font-family: PlayfairDisplay;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 30px;
            letter-spacing: normal;
            text-align: left;
            color: #828282;
          }
        }

        .bio-img {
          order: 2;
          width: 28.125vw;
          max-width: 540px;
          img {
            width: 100%;
          }
        }
      }
      .contact {
        .link {
          display: flex;
          flex-direction: column;
          padding-bottom: 1em;

          a {
            font-family: AkzidenzGroteskPro;
            font-size: 16px;
            text-decoration: none;
            color: #010101;
            transition: all 0.2s linear;
            &:hover {
              color: #828282;
              transition: all 0.2s linear;
            }
          }
        }
        img {
          height: 80vh;
          max-height: 727px;
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
