@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: italic;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-It.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 800;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: bold;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  scroll-behavior: smooth;
  // border: 1px solid gray;
}
body {
  width: 100vw;
  height: 100vh;
  max-width: 2444px;
  max-height: 1206px;
  overflow: hidden;
  color: #010101;
  background-color: #fcfbf9;
}

main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .right {
    width: 100vw;
    .landing {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 125vh;
      max-width: 80vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right;
      opacity: 1;
      transition: opacity 1s ease-out;
      cursor: pointer;
      &.fade {
        opacity: 0;
      }
    }

    .gallery {
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .gallery-element {
        position: relative;

        img {
          width: 100%;
        }
      }

      .gallery-title {
        position: absolute;
        bottom: 1em;
        left: 1em;
        color: white;
        font-family: "AkzidenzGroteskPro";
        font-size: 2em;
        text-transform: uppercase;
      }
    }
  }
}

$single-img-w: 62.5vw;
$single-img-h: 50vw;

$left-W: calc((100vw - 224px));

/* fades  */
.invisible {
  opacity: 0;
  transition: linear 1s;
}
.visible {
  opacity: 1;
  transition: linear 1s;
}

.hidden {
  display: none;
}

.closed {
  height: 0 !important;
  z-index: 0;
  opacity: 0;
  transition: linear 1s;
  transition: height 1s;
}
.open {
  z-index: 99;
  height: 100%;
  opacity: 1;
  transition: linear 1s;
  transition: height 1s;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* GLOBALS */
.relative {
  position: relative;
}
.absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

// MOBILE-PORTRAIT
@media only screen and (max-width: 767px),
  (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  main {
    font-family: "PlayfairDisplay";
  }
  a {
    text-decoration: none;
    color: #010101;
    text-transform: uppercase;
  }
  .title {
    display: none;
  }
  .title-mobile {
    display: block;
    width: 100%;
    margin: 1em;
    svg {
      width: 60%;
    }
  }
  .gallery-title {
    font-family: AkzidenzGroteskPro;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    .mobile-menu-wrapper {
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
      align-content: space-between;
      justify-items: center;
      flex-direction: row;
      padding: 1em 0;
    }
    span {
      text-decoration: none;
      color: #010101;
      & .active {
        color: #828282;
        font-weight: bold;
      }
    }
  }
  img {
    max-width: 100%;
  }
  .gallery-text {
    margin: 0 1em;
    .gallery-title {
      .title {
        display: block;
        font-size: larger;
      }
      font-size: large;
    }
    .text-en {
      color: #010101;
      margin: 1em 0;
    }
    .text-hu {
      color: #828282;
    }
  }
  .bio-wrapper {
    .bio-en {
      margin: 0 1em 0 1em;
    }
    .bio-hu {
      margin: 1em;
      color: #828282;
    }
  }
  .right {
    overflow-y: auto;
    height: 100%;
    .contact {
      .link {
        margin: 1em;
        a {
          text-transform: lowercase;
        }
      }
      img {
        position: fixed;
        bottom: 3em;
      }
    }
  }
}

// MOBILE-LANDSCAPE
@media only screen and (max-width: 814px) and (orientation: landscape) {
  main {
    font-family: "PlayfairDisplay";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
  }
  a {
    text-decoration: none;
    color: #010101;
    text-transform: uppercase;
  }
  .left {
    height: 3em;
    .title {
      display: none;
    }
    .title-mobile {
      order: 1;
      display: block;
      width: 50vw;
      margin: 0;

      svg {
        height: 1.5em;
        padding: 0.5em 1em;
      }
    }
  }

  .menu {
    display: none;
  }
  .menu-mobile {
    order: 2;
    transition: height 1s;
    .mobile-menu-wrapper {
      width: 50vw;
      display: flex;
      justify-content: space-evenly;
      align-content: space-between;
      justify-items: center;
      flex-direction: row;
      padding: 0.5em 0;
    }
    span {
      text-decoration: none;
      color: #010101;
      & .active {
        color: #828282;
        font-weight: bold;
      }
    }
  }
  img {
    max-width: 100%;
  }

  .right {
    order: 3;
    height: 100%;
    overflow: unset;
    .gallery-wrapper {
      .gallery {
        display: flex;
        flex-direction: column;

        .gallery-element {
          height: calc(100vh - 2.5em);
          display: inline-block;
          margin: 0.5em auto;
          .gallery-img {
            height: 100%;
            width: auto;
          }
        }
      }
      .gallery-title {
        font-family: AkzidenzGroteskPro;
      }
      .gallery-text {
        margin: 1em;
        .gallery-title {
          .title {
            display: block;
            font-size: larger;
          }
          font-size: large;
        }
        .text-en {
          color: #010101;
          margin: 1em 0;
        }
        .text-hu {
          color: #828282;
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: row-reverse;
      height: 100%;
      overflow: auto;
      .link {
        margin: 1em;
        a {
          text-transform: lowercase;
        }
      }
      img {
        height: 100%;
      }
    }
    .bio-wrapper {
      .bio-en {
        margin: 0 1em 0 1em;
      }
      .bio-hu {
        margin: 1em;
        color: #828282;
      }
      .bio-img {
        height: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  $col-w_2: calc((100vw - 224px) * 0.26);
  $col-w_3: calc((100vw - 224px) / 3.7);
  $col-w_4: calc((100vw - 224px) * 0.2);
  $col-w_5: calc((100vw - 224px) * 0.11);

  $col-w_2_text: calc((100vw - 224px) * 0.26 / 3);
  $col-w_3_text: calc((100vw - 224px) / 3.7 / 3);
  $col-w_4_text: calc((100vw - 224px) * 0.2 / 3);
  $col-w_5_text: calc((100vw - 224px) * 0.11 / 3);

  $col-w_2_gap: 1.5vw;
  $col-w_3_gap: 1.7vw;
  $col-w_4_gap: 1.2vw;
  $col-w_5_gap: 1.15vw;

  html {
    min-width: 768px;
  }
  main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    .hamburger {
      display: none;
    }
    .left {
      padding: 88px 16px 0 56px;
      width: 14vw;
      max-height: 1020px;
      min-width: 224px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        svg {
          transform: scale(0.95);

          &:hover {
            cursor: pointer;
          }
        }
      }
      .title-mobile {
        display: none;
      }
      .menu-mobile {
        display: none;
        visibility: hidden;
      }
      .menu {
        visibility: visible;
        color: #010101;
        font-family: "PlayfairDisplay";
        text-transform: uppercase;
        font-family: PlayfairDisplay;
        font-size: 22px;
        line-height: 28px;
        transition: all 0.2s linear;
        ul {
          list-style: none;
          width: max-content;
        }
        ul,
        li {
          &:hover {
            cursor: pointer;
            color: #000;
            transition: all 0.2s linear;
            width: max-content;
          }
        }
        .nav-works {
          .works-list {
            width: max-content;
            margin: 6px 0;
            width: 183px;
            font-family: AkzidenzGroteskPro;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            color: #828282;
          }
        }
        & img {
          display: none;
        }
        & .active img {
          display: inline;
          cursor: default;
          &:hover {
            color: inherit;
            cursor: default;
          }
        }
      }
      .menu-mobile {
        display: none;
      }
    }

    .right {
      margin: 88px 0 0 0;
      width: 100%;
      // max-height: 960px;
      max-width: 1920px;
      overflow-y: auto;
      overflow-x: hidden;

      .landing {
        position: absolute;
        top: 0;
        right: 0;

        height: 100vh;
        width: 125vh;
        max-width: 80vw;
        background-image: url("../img/index.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        cursor: pointer;
      }
      .gallery-wrapper {
        height: 100%;
        // margin: 0 100px 40px 0;

        .gallery {
          display: grid;
          grid-template-columns: repeat(3, minmax(min-content, max-content));
          gap: $col-w_3_gap;
          &._2col {
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            gap: $col-w_2_gap;
            .gallery-element {
              width: $col-w_2;
              max-width: 480px;
              max-height: 600px;
            }
          }
          &._3col {
            grid-template-columns: repeat(3, minmax(min-content, max-content));
            gap: $col-w_3_gap;
            .gallery-element {
              width: calc((100vw - 224px) / 3.5);
              max-width: 480px;
              max-height: 600px;
            }
          }
          &._4col {
            grid-template-columns: repeat(4, minmax(min-content, max-content));
            gap: $col-w_4_gap;
            .gallery-element {
              width: $col-w_4;
              max-width: 345px;
              max-height: 276px;
            }
          }
          &._5col {
            grid-template-columns: repeat(5, minmax(min-content, max-content));
            gap: $col-w_5_gap;
            .gallery-element {
              width: $col-w_5;
              max-width: 268px;
              max-height: 214px;
            }
          }

          .gallery-element {
            cursor: pointer;
            width: 100%;
            max-width: 480px;
            margin: 0;
            position: relative;
            &:hover {
              .gallery-title {
                transition: opacity 0.1s linear;
                opacity: 1;
              }
            }
            .gallery-img {
              width: 100%;
            }
            .gallery-title {
              position: absolute;
              bottom: 7px;
              left: 6px;
              color: white;
              font-family: "AkzidenzGroteskPro";
              @media only screen and (max-height: 1080px) and (min-width: 1299px){
                font-size: 2.9vw;
              }
              @media only screen and (min-height: 1081px) and (min-width: 1300px) {
                font-size: 60px;
              }

              text-transform: uppercase;
              transition: opacity 2s ease-in-out;
              opacity: 0;
              line-height: 1.1em;
            }
            &:hover {
              .gallery-title {
                display: block;
              }
            }
          }
        }
        .gallery-text {
          display: grid;
          margin: 1.5vw 0;
          &._2col {
            grid-template-columns: repeat(9, $col-w_2_text);
            grid-template-areas:
              "title title . text-en text-en text-en text-en text-en  ."
              ". . text-hu text-hu text-hu text-hu text-hu text-hu .";
            gap: $col-w_2_gap ($col-w_2_gap / 3);
            .text-en {
              margin-left: -1.2vw;
            }
            .text-hu {
              margin-left: -1.2vw;
            }
          }
          &._3col {
            grid-template-areas:
              "title title . text-en text-en text-en text-en text-en ."
              ". . text-hu text-hu text-hu text-hu text-hu text-hu .";

            grid-template-columns: repeat(9, $col-w_3_text);
            gap: 1.7vw calc(1.7vw / 3);
            .text-en {
              margin-left: -2.1vw;
            }
          }
          &._4col {
            grid-template-columns: repeat(12, $col-w_4_text);
            grid-template-areas:
              "title title title . text-en text-en text-en text-en text-en text-en text-en ."
              ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu .";
            gap: $col-w_4_gap ($col-w_4_gap / 3);
            .text-hu {
              margin-left: -($col-w_4_gap);
            }
          }
          &._5col {
            grid-template-columns: repeat(15, $col-w_5_text);
            grid-template-areas:
              "title title . . text-en text-en text-en text-en text-en text-en text-en text-en . . ."
              ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu . . .";
            gap: $col-w_5_gap ($col-w_5_gap / 3);
            .text-hu {
              margin-left: -($col-w_5_gap);
            }
          }
          .gallery-title {
            grid-area: title;
            display: flex;
            flex-direction: column;
            font-size: 42px;
            line-height: 1.2em;
            font-family: AkzidenzGroteskPro;
            color: #010101;
            text-transform: uppercase;
            @media (min-width: 1600px) {
              font-size: 42px;
            }
            @media (max-width: 1599px) {
              font-size: 2.6vw;
            }
          }
          .text-en {
            a {
              text-decoration: none;
              color: #828282;
              font-size: 26px;
              &:hover {
                color: #010101;
                cursor: pointer;
              }
            }
          }
          .text-hu {
            font-family: PlayfairDisplay;
            grid-area: text-hu;
            color: #828282;
            font-size: 24px;
            @media (min-width: 1600px) {
              font-size: 24px;
            }
            @media (max-width: 1599px) {
              font-size: 1.5vw;
            }
          }

          .text-en {
            font-weight: bold;
            font-family: PlayfairDisplay;
            grid-area: text-en;
            color: #010101;
            font-size: 24px;
            @media (min-width: 1600px) {
              font-size: 24px;
            }
            @media (max-width: 1599px) {
              font-size: 1.5vw;
            }
          }
        }
      }
      .single-gallery-wrapper {
        // height: 100%;
        // width: 62.5vw;
        display: flex;
        flex-direction: row;

        .caroussel {
          width: max-content;
          max-width: 900px;
          .spaceholder {
            width: 58vw;
            max-width: 900px;
            height: 1px;
            margin: 0;
            padding: 0;
          }
          .single-img {
            // max-width: 900px;
            // max-height: calc(100vh - (140px));
            // // width: 58vw;
            // // height: 46.4vw;
            max-width: 900px;
            max-height: calc(100vh - (90px));
            width: 58vw;
            display: block;
            object-fit: scale-down;
            position: relative;
            object-position: left;
          }
          .iframe-title {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 28px;
            font-family: AkzidenzGroteskPro;
            line-height: 24px;
          }
          .iframe-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 600px;
            width: 1080px;
          }
          iframe {
            height: 100%;
            .vp-center {
              display: block !important;
            }
          }
        }
        .gallery-side {
          margin-bottom: 2em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          width: 112px;
          padding-left: 15px;
          align-items: flex-end;
          .pager {
            font-family: AkzidenzGroteskPro;
            font-size: 19px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 28px;
            color: #828282;
            text-align: left;
          }
          .gallery-nav {
            fill: #828282;

            .prev {
              margin: 0 5px;
              width: 8px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
              &.disabled {
                fill: #fcfbf9;
                &:hover {
                  cursor: default;
                }
              }
            }
            .next {
              margin: 0 15px 0 9px;
              width: 8px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
              &.disabled {
                fill: #fcfbf9;
                &:hover {
                  cursor: default;
                }
              }
            }
            .gallery-btn {
              margin: 0;
              width: 30px;
              height: 17px;
              object-fit: contain;
              &:hover {
                cursor: pointer;
                fill: #010101;
              }
            }
          }
        }
      }
      .bio-wrapper {
        width: 69.8vw;
        max-width: 1340px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;
        .bio-en {
          order: 1;
          font-family: PlayfairDisplay;
          font-size: 27px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 37px;
          letter-spacing: -0.3px;
          text-align: left;
          color: #000000;
          margin-bottom: 1em;
        }
        .bio-hu {
          order: 3;
          width: 40vw;
          max-width: 763px;
          margin-bottom: 2em;
          .bio-hu-text {
            font-family: PlayfairDisplay;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 30px;
            letter-spacing: normal;
            text-align: left;
            color: #828282;
          }
        }

        .bio-img {
          order: 2;
          width: 28.125vw;
          max-width: 540px;
          img {
            width: 100%;
          }
        }
      }
      .contact {
        .link {
          display: flex;
          flex-direction: column;
          padding-bottom: 1em;

          a {
            font-family: AkzidenzGroteskPro;
            font-size: 16px;
            text-decoration: none;
            color: #010101;
            transition: all 0.2s linear;
            &:hover {
              color: #828282;
              transition: all 0.2s linear;
            }
          }
        }
        img {
          height: 80vh;
          max-height: 727px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
