@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: italic;
  font-weight: 400;
  src: url("./../assets/fonts/AkzidenzGroteskPro-It.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: 800;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "AkzidenzGroteskPro";
  font-style: normal;
  font-weight: bold;
  src: url("./../assets/fonts/AkzidenzGroteskPro-Super.otf") format("opentype");
}
@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 2444px;
  max-height: 1206px;
  overflow: hidden;
  color: #010101;
  background-color: #fcfbf9;
}

main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
main .right {
  width: 100vw;
}
main .right .landing {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 125vh;
  max-width: 80vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  opacity: 1;
  transition: opacity 1s ease-out;
  cursor: pointer;
}
main .right .landing.fade {
  opacity: 0;
}
main .right .gallery {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .right .gallery .gallery-element {
  position: relative;
}
main .right .gallery .gallery-element img {
  width: 100%;
}
main .right .gallery .gallery-title {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white;
  font-family: "AkzidenzGroteskPro";
  font-size: 2em;
  text-transform: uppercase;
}

/* fades  */
.invisible {
  opacity: 0;
  transition: linear 1s;
}

.visible {
  opacity: 1;
  transition: linear 1s;
}

.hidden {
  display: none;
}

.closed {
  height: 0 !important;
  z-index: 0;
  opacity: 0;
  transition: linear 1s;
  transition: height 1s;
}

.open {
  z-index: 99;
  height: 100%;
  opacity: 1;
  transition: linear 1s;
  transition: height 1s;
}

/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

/* GLOBALS */
.relative {
  position: relative;
}

.absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  main {
    font-family: "PlayfairDisplay";
  }

  a {
    text-decoration: none;
    color: #010101;
    text-transform: uppercase;
  }

  .title {
    display: none;
  }

  .title-mobile {
    display: block;
    width: 100%;
    margin: 1em;
  }
  .title-mobile svg {
    width: 60%;
  }

  .gallery-title {
    font-family: AkzidenzGroteskPro;
  }

  .menu {
    display: none;
  }

  .menu-mobile .mobile-menu-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    justify-items: center;
    flex-direction: row;
    padding: 1em 0;
  }
  .menu-mobile span {
    text-decoration: none;
    color: #010101;
  }
  .menu-mobile span .active {
    color: #828282;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  .gallery-text {
    margin: 0 1em;
  }
  .gallery-text .gallery-title {
    font-size: large;
  }
  .gallery-text .gallery-title .title {
    display: block;
    font-size: larger;
  }
  .gallery-text .text-en {
    color: #010101;
    margin: 1em 0;
  }
  .gallery-text .text-hu {
    color: #828282;
  }

  .bio-wrapper .bio-en {
    margin: 0 1em 0 1em;
  }
  .bio-wrapper .bio-hu {
    margin: 1em;
    color: #828282;
  }

  .right {
    overflow-y: auto;
    height: 100%;
  }
  .right .contact .link {
    margin: 1em;
  }
  .right .contact .link a {
    text-transform: lowercase;
  }
  .right .contact img {
    position: fixed;
    bottom: 3em;
  }
}
@media only screen and (max-width: 814px) and (orientation: landscape) {
  main {
    font-family: "PlayfairDisplay";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
  }

  a {
    text-decoration: none;
    color: #010101;
    text-transform: uppercase;
  }

  .left {
    height: 3em;
  }
  .left .title {
    display: none;
  }
  .left .title-mobile {
    order: 1;
    display: block;
    width: 50vw;
    margin: 0;
  }
  .left .title-mobile svg {
    height: 1.5em;
    padding: 0.5em 1em;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    order: 2;
    transition: height 1s;
  }
  .menu-mobile .mobile-menu-wrapper {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    justify-items: center;
    flex-direction: row;
    padding: 0.5em 0;
  }
  .menu-mobile span {
    text-decoration: none;
    color: #010101;
  }
  .menu-mobile span .active {
    color: #828282;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  .right {
    order: 3;
    height: 100%;
    overflow: unset;
  }
  .right .gallery-wrapper .gallery {
    display: flex;
    flex-direction: column;
  }
  .right .gallery-wrapper .gallery .gallery-element {
    height: calc(100vh - 2.5em);
    display: inline-block;
    margin: 0.5em auto;
  }
  .right .gallery-wrapper .gallery .gallery-element .gallery-img {
    height: 100%;
    width: auto;
  }
  .right .gallery-wrapper .gallery-title {
    font-family: AkzidenzGroteskPro;
  }
  .right .gallery-wrapper .gallery-text {
    margin: 1em;
  }
  .right .gallery-wrapper .gallery-text .gallery-title {
    font-size: large;
  }
  .right .gallery-wrapper .gallery-text .gallery-title .title {
    display: block;
    font-size: larger;
  }
  .right .gallery-wrapper .gallery-text .text-en {
    color: #010101;
    margin: 1em 0;
  }
  .right .gallery-wrapper .gallery-text .text-hu {
    color: #828282;
  }
  .right .contact {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: auto;
  }
  .right .contact .link {
    margin: 1em;
  }
  .right .contact .link a {
    text-transform: lowercase;
  }
  .right .contact img {
    height: 100%;
  }
  .right .bio-wrapper .bio-en {
    margin: 0 1em 0 1em;
  }
  .right .bio-wrapper .bio-hu {
    margin: 1em;
    color: #828282;
  }
  .right .bio-wrapper .bio-img {
    height: 100vh;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  html {
    min-width: 768px;
  }

  main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  main .hamburger {
    display: none;
  }
  main .left {
    padding: 88px 16px 0 56px;
    width: 14vw;
    max-height: 1020px;
    min-width: 224px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .left .title svg {
    transform: scale(0.95);
  }
  main .left .title svg:hover {
    cursor: pointer;
  }
  main .left .title-mobile {
    display: none;
  }
  main .left .menu-mobile {
    display: none;
    visibility: hidden;
  }
  main .left .menu {
    visibility: visible;
    color: #010101;
    font-family: "PlayfairDisplay";
    text-transform: uppercase;
    font-family: PlayfairDisplay;
    font-size: 22px;
    line-height: 28px;
    transition: all 0.2s linear;
  }
  main .left .menu ul {
    list-style: none;
    width: max-content;
  }
  main .left .menu ul:hover,
main .left .menu li:hover {
    cursor: pointer;
    color: #000;
    transition: all 0.2s linear;
    width: max-content;
  }
  main .left .menu .nav-works .works-list {
    width: max-content;
    margin: 6px 0;
    width: 220px;
    font-family: AkzidenzGroteskPro;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #828282;
  }
  main .left .menu img {
    display: none;
  }
  main .left .menu .active img {
    display: inline;
    cursor: default;
  }
  main .left .menu .active img:hover {
    color: inherit;
    cursor: default;
  }
  main .left .menu-mobile {
    display: none;
  }
  main .right {
    margin: 88px 0 0 0;
    width: 100%;
    max-width: 1920px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  main .right .landing {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 125vh;
    max-width: 80vw;
    background-image: url("../img/index.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    cursor: pointer;
  }
  main .right .gallery-wrapper {
    height: 100%;
  }
  main .right .gallery-wrapper .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 1.7vw;
  }
  main .right .gallery-wrapper .gallery._2col {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 1.5vw;
  }
  main .right .gallery-wrapper .gallery._2col .gallery-element {
    width: calc((100vw - 224px) * 0.26);
    max-width: 480px;
    max-height: 600px;
  }
  main .right .gallery-wrapper .gallery._3col {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 1.7vw;
  }
  main .right .gallery-wrapper .gallery._3col .gallery-element {
    width: calc((100vw - 224px) / 3.5);
    max-width: 480px;
    max-height: 600px;
  }
  main .right .gallery-wrapper .gallery._4col {
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    gap: 1.2vw;
  }
  main .right .gallery-wrapper .gallery._4col .gallery-element {
    width: calc((100vw - 224px) * 0.215);
    max-width: 345px;
    max-height: 276px;
  }
  main .right .gallery-wrapper .gallery._5col {
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 1.15vw;
  }
  main .right .gallery-wrapper .gallery._5col .gallery-element {
    width: calc((100vw - 224px) * 0.16);
    max-width: 268px;
    max-height: 214px;
  }
  main .right .gallery-wrapper .gallery .gallery-element {
    cursor: pointer;
    width: 100%;
    max-width: 480px;
    margin: 0;
    position: relative;
  }
  main .right .gallery-wrapper .gallery .gallery-element:hover .gallery-title {
    transition: opacity 0.1s linear;
    opacity: 1;
  }
  main .right .gallery-wrapper .gallery .gallery-element .gallery-img {
    width: 100%;
  }
  main .right .gallery-wrapper .gallery .gallery-element .gallery-title {
    position: absolute;
    bottom: 7px;
    left: 6px;
    color: white;
    font-family: "AkzidenzGroteskPro";
    text-transform: uppercase;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    line-height: 1.1em;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 1080px) and (min-width: 1299px), only screen and (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (max-height: 1080px) and (min-width: 1299px) {
  main .right .gallery-wrapper .gallery .gallery-element .gallery-title {
    font-size: 2.9vw;
  }
}
@media only screen and (min-width: 1024px) and (min-height: 1081px) and (min-width: 1300px), only screen and (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (min-height: 1081px) and (min-width: 1300px) {
  main .right .gallery-wrapper .gallery .gallery-element .gallery-title {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .gallery-wrapper .gallery .gallery-element:hover .gallery-title {
    display: block;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .gallery-wrapper .gallery-text {
    display: grid;
    margin: 1.5vw 0;
  }
  main .right .gallery-wrapper .gallery-text._2col {
    grid-template-columns: repeat(9, calc((100vw - 224px) * 0.26 / 3));
    grid-template-areas: "title title . text-en text-en text-en text-en text-en  ." ". . text-hu text-hu text-hu text-hu text-hu text-hu .";
    gap: 1.5vw 0.5vw;
  }
  main .right .gallery-wrapper .gallery-text._2col .text-en {
    margin-left: -1.2vw;
  }
  main .right .gallery-wrapper .gallery-text._2col .text-hu {
    margin-left: -1.2vw;
  }
  main .right .gallery-wrapper .gallery-text._3col {
    grid-template-areas: "title title . text-en text-en text-en text-en text-en ." ". . text-hu text-hu text-hu text-hu text-hu text-hu .";
    grid-template-columns: repeat(9, calc((100vw - 224px) / 3.7 / 3));
    gap: 1.7vw calc(1.7vw / 3);
  }
  main .right .gallery-wrapper .gallery-text._3col .text-en {
    margin-left: -2.1vw;
  }
  main .right .gallery-wrapper .gallery-text._4col {
    grid-template-columns: repeat(12, calc((100vw - 224px) * 0.215 / 3));
    grid-template-areas: "title title title . text-en text-en text-en text-en text-en text-en text-en ." ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu .";
    gap: 1.2vw 0.4vw;
  }
  main .right .gallery-wrapper .gallery-text._4col .text-hu {
    margin-left: -1.2vw;
  }
  main .right .gallery-wrapper .gallery-text._5col {
    grid-template-columns: repeat(15, calc((100vw - 224px) * 0.16 / 3));
    grid-template-areas: "title title title title . text-en text-en text-en text-en text-en text-en text-en text-en . ." ". . . text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu text-hu . . .";
    gap: 1.15vw 0.3833333333vw;
  }
  main .right .gallery-wrapper .gallery-text._5col .text-hu {
    margin-left: -1.15vw;
  }
  main .right .gallery-wrapper .gallery-text .gallery-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    font-size: 42px;
    line-height: 1.2em;
    font-family: AkzidenzGroteskPro;
    color: #010101;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1600px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (min-width: 1600px) {
  main .right .gallery-wrapper .gallery-text .gallery-title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (max-width: 1599px) {
  main .right .gallery-wrapper .gallery-text .gallery-title {
    font-size: 2.6vw;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .gallery-wrapper .gallery-text .text-en a {
    text-decoration: none;
    color: #828282;
    font-size: 26px;
  }
  main .right .gallery-wrapper .gallery-text .text-en a:hover {
    color: #010101;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .gallery-wrapper .gallery-text .text-hu {
    font-family: PlayfairDisplay;
    grid-area: text-hu;
    color: #828282;
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1600px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (min-width: 1600px) {
  main .right .gallery-wrapper .gallery-text .text-hu {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (max-width: 1599px) {
  main .right .gallery-wrapper .gallery-text .text-hu {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .gallery-wrapper .gallery-text .text-en {
    font-weight: bold;
    font-family: PlayfairDisplay;
    grid-area: text-en;
    color: #010101;
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1600px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (min-width: 1600px) {
  main .right .gallery-wrapper .gallery-text .text-en {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) and (max-width: 1599px) {
  main .right .gallery-wrapper .gallery-text .text-en {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .single-gallery-wrapper {
    display: flex;
    flex-direction: row;
  }
  main .right .single-gallery-wrapper .caroussel {
    width: max-content;
    max-width: 900px;
  }
  main .right .single-gallery-wrapper .caroussel .spaceholder {
    width: 58vw;
    max-width: 900px;
    height: 1px;
    margin: 0;
    padding: 0;
  }
  main .right .single-gallery-wrapper .caroussel .single-img {
    max-width: 900px;
    max-height: calc(100vh - (90px));
    width: 58vw;
    display: block;
    object-fit: scale-down;
    position: relative;
    object-position: left;
  }
  main .right .single-gallery-wrapper .caroussel .iframe-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    font-family: AkzidenzGroteskPro;
    line-height: 24px;
  }
  main .right .single-gallery-wrapper .caroussel .iframe-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1080px;
  }
  main .right .single-gallery-wrapper .caroussel iframe {
    height: 100%;
  }
  main .right .single-gallery-wrapper .caroussel iframe .vp-center {
    display: block !important;
  }
  main .right .single-gallery-wrapper .gallery-side {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 112px;
    padding-left: 15px;
    align-items: flex-end;
  }
  main .right .single-gallery-wrapper .gallery-side .pager {
    font-family: AkzidenzGroteskPro;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    color: #828282;
    text-align: left;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav {
    fill: #828282;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .prev {
    margin: 0 5px;
    width: 8px;
    height: 17px;
    object-fit: contain;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .prev:hover {
    cursor: pointer;
    fill: #010101;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .prev.disabled {
    fill: #fcfbf9;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .prev.disabled:hover {
    cursor: default;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .next {
    margin: 0 15px 0 9px;
    width: 8px;
    height: 17px;
    object-fit: contain;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .next:hover {
    cursor: pointer;
    fill: #010101;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .next.disabled {
    fill: #fcfbf9;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .next.disabled:hover {
    cursor: default;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .gallery-btn {
    margin: 0;
    width: 30px;
    height: 17px;
    object-fit: contain;
  }
  main .right .single-gallery-wrapper .gallery-side .gallery-nav .gallery-btn:hover {
    cursor: pointer;
    fill: #010101;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .bio-wrapper {
    width: 69.8vw;
    max-width: 1340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  main .right .bio-wrapper .bio-en {
    order: 1;
    font-family: PlayfairDisplay;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 37px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #000000;
    margin-bottom: 1em;
  }
  main .right .bio-wrapper .bio-hu {
    order: 3;
    width: 40vw;
    max-width: 763px;
    margin-bottom: 2em;
  }
  main .right .bio-wrapper .bio-hu .bio-hu-text {
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
  }
  main .right .bio-wrapper .bio-img {
    order: 2;
    width: 28.125vw;
    max-width: 540px;
    padding-top: 0px;
  }
  main .right .bio-wrapper .bio-img img {
    padding-top: 8px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px), (min-width: 768px) and (min-height: 400px) and (orientation: landscape) {
  main .right .contact .link {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  main .right .contact .link a {
    font-family: AkzidenzGroteskPro;
    font-size: 16px;
    text-decoration: none;
    color: #010101;
    transition: all 0.2s linear;
  }
  main .right .contact .link a:hover {
    color: #828282;
    transition: all 0.2s linear;
  }
  main .right .contact img {
    height: 80vh;
    max-height: 727px;
  }
}
.hidden {
  display: none;
}