<div class="gallery">
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
  <div class="gallery-element">
    <img src="./img/placeholder_gallery.png" alt="" class="gallery-img">
    <div class="gallery-title">
      <span>Lorem ipsum</span>
    </div>
  </div>
</div>