<div class="bio-wrapper">
  <div class="bio-en">
    <p class="bio-en-text">
      I was born in Budapest in 1990. I was fourteen years old when I first held a camera in my hands. Photography
      has played an important role in my life from the very first moment. After graduation, I was admitted to the
      Department of Photography at Moholy-Nagy University of Art and Design. After finishing my BA degree, I moved
      to England. I was introduced to FotoNow, a community interest company in Plymouth, which I worked with for
      two years. This period was truly influential for me. I went to England to learn English in the first place,
      nonetheless I dedicated all my time and energy to photography during my stay. As a result, I returned home
      with ten smaller photography projects, but not so good English. In the following few years my photography
      had stalled. I bought a one way ticket to China and travelled for six months without taking as much as a
      single photo. Once back in Budapest, I enrolled in a Master of Photography course at MOME. Since then I have
      been pursuing my own projects as a József Pécsi Fellowship recipient. In addition to working as a freelance
      photographer and video artist, I've been preparing students for MOME since 2015.
    </p>
  </div>
  <div class="bio-hu">
    <p class="bio-hu-text">Budapesten születtem 1990-ben. Tizennégy éves voltam, amikor először egy filmes gép
      került a kezembe. Első pillanattól kezdve a fényképezés fontos szerepet tölt be az életemben. Érettségi után
      felvettek a Moholy-Nagy Művészeti Egyetem Fotográfia szakára. A BA diploma megszerzését követően Angliába
      költöztem. Plymouthban ismerkedtem meg a FotoNow-val, a közhasznú szervezettel két éven át dolgoztam együtt.
      Ez az időszak nagy hatással volt rám. Elsődlegesen nyelvet tanulni mentem ki, azonban egész idő alatt a
      fényképezésre fordítottam minden energiámat. Ennek eredményeként tíz kisebb fotós projekttel jöttem haza,
      nem túl jó angol tudással. Ezután néhány év megtorpanás következett a fotózás terén. Vettem Kínába egy csak
      oda szóló repülőjegyet és fél éven át utaztam, egész idő alatt egyetlen képet sem készítve. Miután
      hazajöttem, elvégeztem a MOME fotográfia mester szakát. Azóta Pécsi József ösztöndíjasként folytattam saját
      projektjeimet. 2015 óta készítek fel diákokat a MOME-ra, mellette szabadúszóként fotós és videós munkákon
      dolgozom.
    </p>
  </div>
  <div class="bio-img">
    <img src="./img/bio.jpg" alt="">
  </div>
</div>
<script src="./bio.js"></script>