<div class="single-gallery-wrapper">
  <div class="caroussel">
    <img class="single-img" src="./img/01/perceptions_001_nagy.jpg">
  </div>
  <div class="gallery-side">
    <div class="pager">3/6</div>
    <div class="gallery-nav">
      <svg xmlns="http://www.w3.org/2000/svg" class="prev">
        <path d="M1.878 8.71v-.382l5.387-5.893L6.576.409.467 7.78v1.445l6.109 7.371.689-2.059L1.878 8.71z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="next">
        <path d="M7.363 7.78L1.254.409.565 2.435l5.404 5.86v.382l-5.404 5.86.689 2.059 6.109-7.371V7.78z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="gallery-btn">
        <path d="M22 17v-7h8v7h-8zm0-17h8v7h-8V0zM11 10h8v7h-8v-7zm0-10h8v7h-8V0zM0 10h8v7H0v-7zM0 0h8v7H0V0z" />
      </svg>
    </div>
  </div>
</div>