<div class="title">
  <p class="first-name">Balázs</p>
  <p class="last-name ">Turós</p>
</div>
<nav class="menu">
  <ul>
    <li class="works">works
      <ul class="works-list">
        <li class="01">reflection</li>
        <li class="02">epitome</li>
        <li class="03">closer</li>
        <li class="04">contemplation</li>
        <li class='05'>oneness</li>
        <li class="06">ferry—land</li>
      </ul>
    </li>
    <li class="about">about</li>
    <li class="contact">contact</li>
  </ul>
</nav>